# Copyright 2024 Richard Kosegi
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
name: Create release on tag push

on:
  push:
    tags: [ v*]
  workflow_dispatch:

jobs:
  create-release:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Create Release
        run: |
          tag_name=$(git describe --tags --abbrev=0)

          release_exists=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
                             "https://api.github.com/repos/${{ github.repository }}/releases/tags/$tag_name" \
                             | jq -r '.id')

          set +e
          if [[ -z "$release_exists" ]] || [[ "$release_exists" == "null" ]]; then
            curl --fail -X POST -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
                 -H "Accept: application/vnd.github.v3+json" \
                 -d '{"tag_name": "'"$tag_name"'", "name": "'"$tag_name"'", "draft": false, "prerelease": false}' \
                 "https://api.github.com/repos/${{ github.repository }}/releases"
          else
            echo "Release already exists for tag $tag_name."
            exit 1
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
